:root {
    --colorPrimario: #fff;
    --colorPrimarioVariante: #f0f0f0;
    --colorSecundario: #000;
    --colorTerciario: #5E17EB;
    --colorCuaternario: #61D8DE;
    --grisFuerte: #484848;
}

*{
    font-family: 'League Spartan';
    color: #000;
}
a {
    text-decoration: none;
}

.dashboard-side-bar {
    background-color: var(--colorPrimario);
    width: 22rem;
    height: 100vh;
    padding: 2.5vh 1.5vw;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
}
.dashboard-side-bar .top {
    display: flex;
    flex-direction: column;
    gap: max(9vh, 7rem);
}
.dashboard-side-bar .top img {
    width: 4.5rem;
}
.dashboard-nav {
    display: flex;
    flex-direction: column;
}
.nav-element {
    display: flex;
    align-items: center;
    gap: min(1.6rem, 1.2vw);
    padding: max(0.9vh, 0.8rem) 0;
    transition: all 0.3s;
}
.nav-element:hover {
    cursor: pointer;
    opacity: 0.8;
}
.nav-element * {
    transition: all 0.3s;
}
.nav-element.selected {
    border-right: 4px solid var(--colorTerciario);
}
.nav-element svg {
    width: 2.4rem;
    height: 2.4rem;
    fill: #484848;
}
.nav-element.current svg {
    fill: var(--colorTerciario);
}
.nav-element span {
    color: #484848;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}
.nav-element.current span {
    color: var(--colorTerciario);
}
.dashboard-side-bar .bottom {
    display: flex;
    flex-direction: column;
    gap: max(6vh, 4.5rem);
}
.account-section {
    display: flex;
    flex-direction: column;
    gap: max(1.5vh, 1.2rem);
}
.account-button {
    background-color: var(--colorPrimarioVariante);
    display: flex;
    align-items: center;
    gap: max(1vw, 1rem);
    padding: 0.5rem 1rem;
    border-radius: 1000px;
    text-decoration: none;
}
.account-button .left {
    height: 100%;
}
.account-button img {
    aspect-ratio: 1/1;
    height: 4rem;
    width: auto;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}
.account-button .right {
    display: flex;
    flex-direction: column;
}
.account-button .right h5 {
    font-size: 1.5rem;
    color: var(--colorSecundario);
    font-weight: 500;
    text-decoration: none;
}
.account-button span {
    padding: 0 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.1rem;
    border-radius: 100px;
    border: 1px solid #61D8DE;
    font-size: 1.2rem;
    color: #61D8DE;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.upgrade-button {
    background-color: var(--colorTerciario);
    display: flex;
    padding: 0.2rem 1.9rem;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    border-radius: 100px;
    transition: all 0.3s;
}
.upgrade-button svg {
    width: 3rem;
    height: 3rem;
    fill: #FFD600;
}
.upgrade-button span {
    color: var(--colorPrimario);
    font-size: 1.5rem;
    line-height: 1.2rem;
    font-weight: 600;
    padding-bottom: 0;
    text-transform: uppercase;
}
.upgrade-button:hover {
    opacity: 0.85;
}

.mobile-bar {
    width: 100%;
    display: none;
}
.mobile-top-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 5vw;
}
.mobile-top-bar > img {
    height: 50%;
    width: auto;
}
.dropdown-content {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: calc(10vh - 1px);
    right: 5vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    transform: scaleY(0);
    -webkit-filter: brightness(1000%);
            filter: brightness(1000%);
    transform-origin: top;
    background-color: var(--colorPrimario);
    transition: all 0.5s;
    overflow: hidden;
    border-radius: 6px;
    z-index: 10;
}
.dropdown-content.visible {
    transform: scaleY(1);
    -webkit-filter: none;
            filter: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.dropdown-content a {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
}
.dropdown-content a:hover, .dropdown-content a:active {
    background-color: #f0f0f0;
}
.dropdown-content a .svg-holder, .dropdown-content a svg {
    height: 2rem;
    width: 2rem;
    fill: #484848;
}

:root {
    --font-size: 0.7;
    --color1: #000;
    --borderRadius: 1em;
}
.burger {
    display: block;
    font-size: var(--font-size);
    cursor: pointer;
    padding: 1.5em 0.75em;
    transform: scale(0.7);
}
.burger > div {
    width: 3.5em;
    height: 0.5em;
    border-radius: var(--borderRadius);
    background: var(--color1);
}
.burger > div::before, .burger > div::after {
    transition: font-size 0s;
    content: "";
    display: block;
    position: absolute;
    width: 3.5em;
    height: 0.5em;
    background: var(--color1);
    border-radius: var(--borderRadius);
}
.burger > div::before {
    margin-top: -1.5em;
}
.burger > div::after {
    margin-top: 1.5em;
}
.burger1 {
    transition: all 0.7s, font-size 0s;
    transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
}
.burger1 > div {
    transition: all 0.1s 0.3s, font-size 0s;
}
.burger1 > div::before, .burger1 > div::after {
    transition: all 0.3s 0.2s, font-size 0s;
}
.burger1.toggled {
    transform: rotate(180deg) scale(0.9);
}
.burger1.toggled > div::before {
    transform: rotate(45deg) translate(1.1em, 1em) scale(0.9);
}
.burger1.toggled > div {
    background: transparent;
}
.burger1.toggled > div::after {
    transform: rotate(-45deg) translate(1.1em, -1em) scale(0.9);
}

.mobile-bottom-menu {
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 1rem;
    border-radius: 20px;
    z-index: 3;
}
.mobile-bottom-menu .svg-holder, .mobile-bottom-menu svg {
    width: 3rem;
    height: 3rem;
}
.bottom-menu-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
}
.bottom-menu-button:hover, .bottom-menu-button:active {
    background-color: #f0f0f0;
}
.bottom-menu-button span {
    font-size: 1.5rem;
    text-align: center;
}
.bottom-menu-button.current svg {
    fill: #5E17EB;
}
.bottom-menu-button.current span {
    color: #5E17EB;
}


@media only screen and (max-width: 700px) {
    body {
        display: flex;
        flex-direction: column;
        gap: 1.5vmax;
        align-items: center;
    }
    main {
        height: 70vh !important;
    }
    .dashboard-side-bar {
        display: none;
    }
    .mobile-bar {
        display: block;
    }
}